#container{
	width: 805px;
	margin: 45px auto;
	background: #A6A6A6;

}

header{
	text-align: center;
}


.racer_table td {
  background: #BABABA;
  height: 20px;
  width: 35px;
}

td.active {
  background-color: black;
}
