@import url(https://fonts.googleapis.com/css?family=Orbitron);

body{
	background: #000 url(../img/background.jpg) no-repeat center center fixed;
	background-size: cover;
	height: auto;

}

h3{
font-family: sans-serif;
font-size: 32px;
text-transform: uppercase;
color: white;
font-weight: bold;

}

h4{
font-family: sans-serif;
text-transform: uppercase;
color: white;
font-weight: bold;

}

#container{
	width: 90%;
	margin: 45px auto;
/*	background: #B9BDCB;*/

}

header{
	text-align: center;
}


.racer_table td {
  background: #4B4B4B;
  height: 30px;
  width: 55px;
  padding: 0px;
  margin: 0px;
}

td.active {
  	background: url(../img/ford.png) center no-repeat;
	background-size: contain;
}

button{
	display: block;
	margin: 0 auto;

	width: 100px;
	height: 30px;
	background: #277A36;
	color: white;
	text-transform: uppercase;
}

#red{
	background-color: red;
}
#yellow{
	background-color: yellow;
}
#output{
	width: 200px;
	height: 50px;
	background: #2C2C2C;
	border: 2px solid #fff;
	color: #fff;
	margin: 0 auto;
	font-family: 'Orbitron', sans-serif;
	font-size: 25px;
	line-height: 50px;
	border-radius: 10px;

}
